/*
=====================
CUSTOM
=====================
*/
hr {
    width: 90%;
    height: 3px;
    border-top: 4px solid rgb(78, 61, 112) !important;
}

.accordion-toggle {
    cursor: pointer;
}

@media (max-width: 991px) {
    .carousel-control {
        width: 8% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        color: black;
        background-color: #DADADA;
    }

    .carousel-control:hover,
    .carousel-control:active,
    .carousel-control:focus {
        opacity: 0.2;
        color: black;
    }
}

.carousel-control {
    margin-left: 3.5%;
    margin-right: 3.5%;
    padding-top: 15%;
    width: 5%;
    background-image: none !important;
    opacity: 0.2;
}

/* remove text underline*/
.carousel-control:hover,
.carousel-control:active,
.carousel-control:focus {
    border-bottom: none !important;
}

.carousel-indicators li {
    border: 1px solid rgb(255, 219, 118);
}

.carousel-indicators .active {
    background-color: rgb(255, 219, 118);
    /* yellow */
}

.bg-color {
    background-color: rgb(78, 61, 112);
    /* purple */
}

.padding-top-60 {
    padding-top: 60px;
}

.about {
    color: rgb(78, 61, 112);
}

.about-sub-heading {
    color: rgb(255, 219, 118);
}

.heading-color {
    color: rgb(250, 162, 60);
}

.sub-heading-color {
    color: #23d922;
}

.heading-event {
    font-family: arial;
    font-size: 200% !important;
    color: rgb(255, 219, 118);
}

.page-content {
    padding: 30px;
    color: #d7d5d9;
    background-color: #282828;
}

.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile {
    overflow: hidden;
    max-width: 165px;
    max-height: 165px;
    border-radius: 50%;
    background-image: url("path/to/image");
    background-position: center center;
    background-size: cover;
}

.container-events {
    background-color: #fcfcfc;
    margin-bottom: 30px;
}

.rounded {
    overflow: hidden;
    border-radius: 6px;
}


/*
=====================
NAVBAR
=====================
*/
.navbar {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.navbar a.navbar-brand {
    font-weight: bold;
    letter-spacing: 0.2em;
    color: rgb(250, 162, 60);
}

.navbar a.navbar-brand:focus,
.navbar a.navbar-brand:hover {
    border-bottom: none;
}

.navbar .navbar-nav > li > a {
    font-weight: bold;
}

/*navbar li padding*/
@media (min-width: 768px) {
    .navbar ul.nav > li > a {
        border-top: solid 2px transparent;
        padding-top: 15px;
        padding-bottom: 14px;
    }

    .navbar ul.nav > li > a:hover,
    .navbar ul.nav > li > a:focus {
        border-bottom: none;
    }

    .navbar ul.nav > li.active > a,
    .navbar ul.nav > li.open > a {
        text-decoration: none !important;
    }
}

.navbar-toggle {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000000;
}

ul.dropdown-menu li a {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

ul.dropdown-menu li a:hover {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-bottom: none;
}

/*
=====================
GENERAL
=====================
*/
html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
    background-color: #222222;

}

header {
    z-index: 1000;
}

section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 45px;
}

.italic {
    font-style: italic;
    font-family: "Georgia", "Times New Roman", Times, serif;
}

.img-responsive {
    margin: 0 auto;
}

.no-space .box {
    margin: 0 -15px;
    padding: 0;
}

a,
button {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

a i.fa,
button i.fa {
    margin: 0 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clickable {
    cursor: pointer !important;
}

.required {
    color: #3ba3c3;
}

.accent {
    color: #3ba3c3;
}

.text-uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.list-style-none {
    list-style: none;
}

.pages {
    text-align: center;
}

.btn-white {
    color: #d7d5d9;
    background-color: transparent;
    border-color: #d7d5d9;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border-color: #e0e0e0;
}

.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    background-image: none;
}

.btn-white.disabled,
.btn-white[disabled],
fieldset[disabled] .btn-white,
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled] .btn-white:focus,
.btn-white.disabled:active,
.btn-white[disabled]:active,
fieldset[disabled] .btn-white:active,
.btn-white.disabled.active,
.btn-white[disabled].active,
fieldset[disabled] .btn-white.active {
    background-color: transparent;
    border-color: #ffffff;
}

.btn-white .badge {
    color: transparent;
    background-color: #ffffff;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    color: rgb(255, 219, 118);
    border-color: rgb(255, 219, 118);
}

.icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 40px;
    border: solid 1px #3ba3c3;
    color: #3ba3c3;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    font-size: 40px;
    margin: 0 auto 15px;
    text-align: center;
}

.icon.brand-secondary {
    border-color: #cccccc;
    color: #cccccc;
}

.icon.brand-terciary {
    border-color: #41a6ca;
    color: #41a6ca;
}

.icon.brand-four {
    border-color: #283044;
    color: #283044;
}

.full-image img {
    width: 100%;
    max-width: 100%;
}

.full-image figcaption {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
}

/*
=====================
SOCIAL LINKS
=====================
*/
p.social {}

p.social a {

    display: inline-block;
    width: 30px;
    height: 31px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    vertical-align: bottom;
    color: rgb(78, 61, 112);
    /*social icon color*/
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

p.social a:hover {
    border-bottom: solid 0px #000;
    text-decoration: none;
    color: rgb(255, 244, 133);
    /* social icon hover */
}

p.social a i {
    vertical-align: bottom;
    line-height: 40px;
}

p.social.social--big a {
    margin: 0 10px 10px 0;
    width: 40px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}

/* jumbotron */
.jumbotron {
    margin: 0;
}

.main-jumbotron {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    background-color: #1e1e1e;
}

.main-jumbotron .content {
    position: relative;
}

.main-jumbotron p a:not(.btn) {
    color: #fff;
}

.main-jumbotron p a:not(.btn):hover {
    color: #fff;
    border-color: #fff;
}

.main-jumbotron .btn {
    text-shadow: none;
}

.main-jumbotron:before {
    display: block;
    position: absolute;
    content: " ";
    opacity: 0.2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/* breadcrumbs */
.breadcrumb {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
    font-size: 12px;
}

.box-simple {
    text-align: left;
    margin-bottom: 42px;
}

.box-simple p {
    color: #999999;
}

.box-simple.box-white {
    padding: 20px;
    border: dotted 1px #999999;
}

.box-simple.box-white .icon {
    color: #555555;
    border-color: transparent;
    font-size: 70px;
}

.box-simple.box-dark {
    padding: 20px;
    border: dotted 1px #999999;
    background: #555555;
    color: #fff;
}

.box-simple.box-dark .icon {
    color: #f7f7f7;
    border-color: transparent;
    font-size: 70px;
}

.box-simple.box-dark h3 {
    color: #fff;
}

.box-simple.box-dark h3 a {
    color: #fff;
}

.box-simple.box-dark p {
    color: #fff;
}

.box-image {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 15px 0;
}

.box-image .bg {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    background: #3ba3c3;
}

.box-image .name {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #fff;
    padding: 0 20px;
}

.box-image .name h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.08em;
}

.box-image .name h3 a {
    color: #fff;
    text-decoration: none;
}

.box-image .text {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    -webkit-transform: translate(0, -150%);
    -ms-transform: translate(0, -150%);
    transform: translate(0, -150%);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #fff;
    padding: 0 20px;
}

.box-image:hover .bg {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.box-image:hover .name {
    position: absolute;
    -webkit-transform: translate(0, -75%);
    -ms-transform: translate(0, -75%);
    transform: translate(0, -75%);
}

.box-image:hover .text {
    position: absolute;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.box-image-text {
    position: relative;
    background: #fff;
    overflow: hidden;
    text-align: center;
    margin: 15px 0;
}

.box-image-text .top {
    position: relative;
    margin-bottom: 10px;
}

.box-image-text .top .bg {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    background: #fff;
}

.box-image-text .top .logo {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.box-image-text .top .name {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #fff;
    padding: 0 20px;
}

.box-image-text .top .name h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.08em;
}

.box-image-text .top .name h3 a {
    color: #fff;
    text-decoration: none;
}

.box-image-text .top .name h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.08em;
}

.box-image-text .top .name h4 a {
    color: #fff;
    text-decoration: none;
}

.box-image-text .top .text {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    -webkit-transform: translate(0, -150%);
    -ms-transform: translate(0, -150%);
    transform: translate(0, -150%);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #fff;
    padding: 0 20px;
}

.box-image-text .content {
    padding: 15px 15px 0 15px;
}

.box-image-text .content h3,
.box-image-text .content h4 {
    text-transform: uppercase;
    line-height: 1.5;
    color: #555555;
    font-weight: 800;
    letter-spacing: 0.08em;
}

.box-image-text .content p {
    color: #999999;
}

.box-image-text.bg-visible .bg {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.box-image-text:hover .bg {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.box-image-text:hover .name {
    position: absolute;
    -webkit-transform: translate(0, -75%);
    -ms-transform: translate(0, -75%);
    transform: translate(0, -75%);
}

.box-image-text:hover .text {
    position: absolute;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

/* universal box */
.box {
    background: #fff;
    margin: 0 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0;
    border-left: none;
    border-right: none;
}

.box .box-header {
    background: #f7f7f7;
    margin: -20px 0 20px;
    padding: 20px;
    border-bottom: solid 1px #eeeeee;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.box .box-header:before,
.box .box-header:after {
    content: " ";
    display: table;
}

.box .box-header:after {
    clear: both;
}

.box .box-footer {
    background: #f7f7f7;
    margin: 30px 0 -20px;
    padding: 20px;
    border-top: solid 1px #eeeeee;
}

.box .box-footer:before,
.box .box-footer:after {
    content: " ";
    display: table;
}

.box .box-footer:after {
    clear: both;
}

@media (max-width: 991px) {
    .box .box-footer .btn {
        margin-bottom: 20px;
    }
}

/*
=====================
SERVICES / INTEGRATIONS
=====================
*/
.box-services p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #999999;
}

.author-date-top {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #999999;
    font-size: 12px;
    text-align: center;
}

/*
=====================
FOOTER AND COPYRIGHT
=====================
*/

@media (min-width: 992px) {
    .footer__copyright {
        background: #282828;
        color: #ccc;
        padding: 10px 0;
        font-size: 12px;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
    }

    .footer__copyright p {
        margin: 0;
    }

    @media (max-width: 991px) {
        .footer__copyright p {
            float: none !important;
            text-align: center;
        }
    }

    .hidden {
        visibility: hidden;
    }

    /* ========================================= */
    /* THEMING OF BOOTSTRAP COMPONENTS           */
    /* ========================================= */
    /* nav */
    .nav {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

    .nav > li > a {
        padding: 10px 15px;
    }

    .nav > li > a:hover,
    .nav > li > a:focus {
        background-color: #eeeeee;
    }

    .nav > li.disabled > a {
        color: #999999;
    }

    .nav > li.disabled > a:hover,
    .nav > li.disabled > a:focus {
        color: #999999;
    }

    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
        background-color: #eeeeee;
    }

    .nav .open > a,
    .nav .open > a:focus,
    .nav .open > a:hover {
        border-color: transparent;
    }

    .nav-tabs {
        border-bottom: 1px solid #dddddd;
    }

    .nav-tabs > li > a {
        line-height: 1.55;
        border-radius: 0 0 0 0;
    }

    .nav-tabs > li > a:hover {
        border-color: #eeeeee #eeeeee #dddddd;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #555555;
        background-color: #ffffff;
        border: 1px solid #dddddd;
    }

    .nav-pills > li > a {
        border-radius: 0;
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
        color: #ffffff;
        background-color: #3ba3c3;
    }

    .nav-tabs-justified > li > a {
        border-radius: 0;
    }

    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border: 1px solid #dddddd;
    }

    @media (min-width: 768px) {
        .nav-tabs-justified > li > a {
            border-bottom: 1px solid #dddddd;
            border-radius: 0 0 0 0;
        }

        .nav-tabs-justified > .active > a,
        .nav-tabs-justified > .active > a:hover,
        .nav-tabs-justified > .active > a:focus {
            border-bottom-color: #ffffff;
        }
    }

    /* navbar */
    .navbar {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        min-height: 50px;
        margin-bottom: 0;
        border-top: none;
        border-bottom: none;
    }

    @media (min-width: 768px) {
        .navbar {
            border-radius: 0;
        }
    }

    .navbar-collapse {
        max-height: 340px;
        overflow-x: visible;
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-collapse.in {
        overflow-y: auto;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .navbar-collapse {
            font-size: 14px;
        }
    }

    @media (min-width: 768px) {
        .navbar-collapse {
            width: auto;
            border-top: 0;
            box-shadow: none;
        }

        .navbar-collapse.collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important;
        }

        .navbar-collapse.in {
            overflow-y: visible;
        }

        .navbar-collapse.right {
            float: right;
        }

        .navbar-fixed-top .navbar-collapse,
        .navbar-static-top .navbar-collapse,
        .navbar-fixed-bottom .navbar-collapse {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
    }

    @media (min-width: 768px) {

        .container > .navbar-header,
        .container-fluid > .navbar-header,
        .container > .navbar-collapse,
        .container-fluid > .navbar-collapse {
            margin-right: 0;
            margin-left: 0;
        }
    }

    .navbar-brand {
        float: left;
        padding: 14px;
        font-size: 17.5px;
        line-height: 21px;
    }

    .navbar-brand:hover,
    .navbar-brand:focus {
        text-decoration: none;
    }

    @media (max-width: 768px) {
        .navbar-brand {
            padding-top: 15px;
        }
    }

    @media (min-width: 768px) {

        .navbar > .container .navbar-brand,
        .navbar > .container-fluid .navbar-brand {
            margin-left: -15px;
        }
    }

    .navbar-toggle {
        padding: 9px 10px !important;
        margin-right: 15px;
        border-radius: 0;
    }

    .navbar-nav {
        margin: 9.75px -15px;
    }

    .navbar-nav > li > a {
        padding-top: 8.5px;
        padding-bottom: 8.5px;
        line-height: 18px;
        border-bottom: none;
    }

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        border-bottom: none;
    }

    @media (max-width: 767px) {

        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }

        /* mobile menu dropdown center */
        .navbar-nav .open .dropdown-menu > li > a {
            font-size: 13px;
            line-height: 24px;
            display: flex;
            justify-content: center;
        }

        .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-nav .open .dropdown-menu > li > a:focus {
            color: rgb(250, 162, 60) !important;
            background-color: #282828 !important;
            background-image: none;
        }

        .navbar-nav .open .dropdown-menu > li:active {
            background-color: #3ba3c3 !important;
        }
    }

    @media (min-width: 768px) {
        .navbar-nav {
            margin: 0 auto;
            display: table;
            table-layout: fixed;
            float: left;
        }

        .navbar-nav > li {
            float: left;
        }

        .navbar-nav > li > a {
            padding-top: 19.5px;
            padding-bottom: 19.5px;
        }

        .navbar-nav.navbar-right:last-child {
            margin-right: -15px;
        }
    }

    .navbar-form {
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px 15px;
        border: none;
        margin-top: 12.5px;
        margin-bottom: 12.5px;
    }

    @media (max-width: 767px) {
        .navbar-form .form-group {
            margin-bottom: 5px;
        }
    }

    /* mobile menu button */
    .navbar-btn {
        margin-top: 5px;
        margin-bottom: 3px;
        margin-right: 5px;
        color: #d7d5d9;
    }

    .navbar-btn.btn-sm {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .navbar-btn.btn-xs {
        margin-top: 19px;
        margin-bottom: 19px;
    }

    .navbar-text {
        margin-top: 19.5px;
        margin-bottom: 19.5px;
    }

    @media (min-width: 768px) {
        .navbar-text {
            float: left;
            margin-left: 15px;
            margin-right: 15px;
        }

        .navbar-text.navbar-right:last-child {
            margin-right: 0;
        }
    }

    .navbar-default {
        background-color: #202020;
        border-bottom-color: transparent;
    }

    .navbar-default .navbar-brand {
        color: #000000;
    }

    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: #d7d5d9;
        background-color: transparent;
    }

    .navbar-default .navbar-text {
        color: #777777;
    }

    .navbar-default .navbar-nav > li > a {
        color: #d7d5d9;
    }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: rgb(250, 162, 60);
        background-color: transparent;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: rgb(250, 162, 60);
        background-color: transparent;
    }

    .navbar-default .navbar-nav > .disabled > a,
    .navbar-default .navbar-nav > .disabled > a:hover,
    .navbar-default .navbar-nav > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #000000;
    }

    .navbar-default .navbar-collapse {
        border-color: transparent;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: transparent;
        color: rgb(250, 162, 60);
    }

    @media (max-width: 767px) {
        .navbar-default .navbar-nav .open .dropdown-menu > li > a {
            color: #d7d5d9;
        }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: rgb(250, 162, 60);
            background-color: transparent;
        }

        /* mobile menu collapse */
        .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
        .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
            color: rgb(250, 162, 60);
            background-color: #282828;
        }

        .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
        .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
            color: #cccccc;
            background-color: transparent;
        }
    }

    .navbar-default .navbar-link {
        color: #000000;
    }

    .navbar-default .navbar-link:hover {
        color: rgb(250, 162, 60);
    }

    /* dropdowns */
    .dropdown-menu {
        z-index: 1000;
        font-size: 12px;
        background-color: #282828;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0;
    }

    .dropdown-menu .divider {
        height: 1px;
        margin: 9.5px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    .dropdown-menu > li > a {
        font-family: arial;
        line-height: 1.55;
        color: #d7d5d9;
    }

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: rgb(250, 162, 60);
        background-color: transparent;
    }

    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        color: rgb(250, 162, 60);
        background-color: transparent;
    }

    /* modal */
    .modal-content {
        background-color: #ffffff;
        border: 1px solid #999999;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0;
    }

    /* scaffolding */
    body {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.55;
        color: #000000;
        background-color: #ffffff;
    }

    a {
        color: #3ba3c3;
        text-decoration: none;
    }

    a:hover,
    a:focus {
        color: #0b82a5;
        text-decoration: none;
    }

    a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .img-rounded {
        border-radius: 0;
    }

    hr {
        margin-top: 21px;
        margin-bottom: 21px;
        border: 0;
        border-top: 1px solid #eeeeee;
    }

    /* breadcrumbs */
    .breadcrumb {
        padding: 8px 0;
        margin-bottom: 21px;
        background-color: transparent;
        border-radius: 0;
    }

    .breadcrumb > li + li:before {
        content: "/\00a0";
        color: #555555;
    }

    .breadcrumb > .active {
        color: #999999;
    }

    .breadcrumb a {
        color: #3ba3c3;
    }

    @media (max-width: 991px) {
        .breadcrumb {
            padding: 8px 0;
        }
    }

    /* buttons  */
    .btn {
        font-weight: 700;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding: 6px 12px;
        font-size: 14px;
        border-radius: 0;
    }

    .btn-primary {
        color: #3ba3c3;
        background-color: transparent;
        border-color: #3ba3c3;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        color: #3ba3c3;
        background-color: #ebebeb;
        border-color: #ff0202;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        background-image: none;
    }

    .btn-primary.disabled,
    .btn-primary[disabled],
    fieldset[disabled] .btn-primary,
    .btn-primary.disabled:hover,
    .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus,
    .btn-primary[disabled]:focus,
    fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled:active,
    .btn-primary[disabled]:active,
    fieldset[disabled] .btn-primary:active,
    .btn-primary.disabled.active,
    .btn-primary[disabled].active,
    fieldset[disabled] .btn-primary.active {
        background-color: #ffffff;
        border-color: #3ba3c3;
    }

    .btn-primary .badge {
        color: #ffffff;
        background-color: #3ba3c3;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active {
        background: #3ba3c3;
        color: #ffffff;
        border: solid 1px #3ba3c3;
    }

    .btn-transparent {
        color: #555555;
        background-color: transparent;
        border-color: #555555;
    }

    .btn-transparent:hover,
    .btn-transparent:focus,
    .btn-transparent:active,
    .btn-transparent.active,
    .open .dropdown-toggle.btn-transparent {
        color: #555555;
        background-color: rgba(0, 0, 0, 0);
        border-color: #373737;
    }

    .btn-transparent:active,
    .btn-transparent.active,
    .open .dropdown-toggle.btn-transparent {
        background-image: none;
    }

    .btn-transparent.disabled,
    .btn-transparent[disabled],
    fieldset[disabled] .btn-transparent,
    .btn-transparent.disabled:hover,
    .btn-transparent[disabled]:hover,
    fieldset[disabled] .btn-transparent:hover,
    .btn-transparent.disabled:focus,
    .btn-transparent[disabled]:focus,
    fieldset[disabled] .btn-transparent:focus,
    .btn-transparent.disabled:active,
    .btn-transparent[disabled]:active,
    fieldset[disabled] .btn-transparent:active,
    .btn-transparent.disabled.active,
    .btn-transparent[disabled].active,
    fieldset[disabled] .btn-transparent.active {
        background-color: transparent;
        border-color: #555555;
    }

    .btn-transparent .badge {
        color: transparent;
        background-color: #555555;
    }

    .btn-transparent:hover,
    .btn-transparent:focus,
    .btn-transparent:active,
    .btn-transparent.active {
        background: #3ba3c3;
        color: #ffffff;
    }

    .btn-lg {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 0;
    }

    .btn-sm {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 0;
    }

    .btn-xs {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 0;
    }

    /* dropdowns */
    .dropdown-menu > li > a {
        padding: 8px 20px;
    }

    /* labels */
    .label {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
    }

    /* forms.less */
    label {
        font-weight: normal;
    }

    .input-group {
        min-width: 250px;
        max-width: 360px;
    }

    #signUpSubmit {
        border: 1.5px solid #17af16;
        background-color: #f2f2f2;
        color: #d1d1d1;
        padding-bottom: 2px;
        padding-top: 5px;
        padding-left: 7px;
        padding-right: 5px;
        font-size: 18px;
        -webkit-transition-duration: 0.3s;
        /* Safari */
        transition-duration: 0.3s;
    }

    #signUpSubmit:hover,
    #signUpSubmit:focus .fa-power-off {
        color: #18c117;
        background-color: #f2f2f2;
    }

    .input-name {
        min-width: 240px;
        max-width: 340px;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 35px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.55;
        color: rgb(255, 219, 118);
        background-color: rgb(78, 61, 112);
        background-image: none;
        border: 1px solid #17af16;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .form-control::-moz-placeholder {
        color: #999999;
        opacity: 1;
    }

    .form-control:-ms-input-placeholder {
        color: #999999;
    }

    .form-control::-webkit-input-placeholder {
        color: #d7d5d9;
        /* placeholder text color */
    }

    .form-group {
        margin-bottom: 5px;
    }

    /* pager*/
    .pager {
        margin: 21px 0;
        border-top: solid 1px #eeeeee;
        padding-top: 21px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 12px;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-weight: bold;
    }

    .pager li {
        display: inline;
    }

    .pager li > a,
    .pager li > span {
        background-color: #ffffff;
        border: 1px solid #3ba3c3;
        border-radius: 0;
    }

    .pager li > a:hover,
    .pager li > a:focus {
        text-decoration: none;
        color: #fff;
        background-color: #3ba3c3;
    }

    .pager .disabled > a,
    .pager .disabled > a:hover,
    .pager .disabled > a:focus,
    .pager .disabled > span {
        color: #999999;
        background-color: #ffffff;
        border-color: #ddd;
    }

    /* pagination */
    .pagination {
        margin: 21px 0;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        border-radius: 0;
    }

    .pagination > li > a,
    .pagination > li > span {
        padding: 6px 12px;
        line-height: 1.55;
        text-decoration: none;
        color: #3ba3c3;
        background-color: #ffffff;
        border: 1px solid #dddddd;
    }

    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
        margin-left: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
        color: #3ba3c3;
        background-color: #ffd8d8;
        border-color: #dddddd;
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 2;
        color: #ffffff;
        background-color: #3ba3c3;
        border-color: #3ba3c3;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        color: #999999;
        background-color: #ffffff;
        border-color: #dddddd;
    }

    /* responsive utilities */
    @media (max-width: 767px) {
        .text-center-xs {
            text-align: center !important;
        }

        .text-center-xs img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .text-center-sm {
            text-align: center !important;
        }

        .text-center-sm img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    /* type */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-weight: 700;
        line-height: 1.2;
        color: #000000;
    }

    h1,
    .h1 {
        font-size: 36px;
    }

    h2,
    .h2 {
        font-size: 30px;
    }

    h3,
    .h3 {
        font-size: 24px;
        font-weight: 700;
    }

    h4,
    .h4 {
        font-size: 18px;
        font-weight: 700;
    }

    h5,
    .h5 {
        font-size: 14px;
        font-weight: 700;
    }

    h6,
    .h6 {
        font-size: 12px;
        font-weight: 700;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        margin-top: 0;
        margin-bottom: 21px;
    }

    p {
        margin: 0 0 21px;
    }

    .lead {
        margin-top: 15px;
        margin-bottom: 16px;
        font-size: 22px;
    }

    .text-small {
        font-size: 13px;
    }

    .text-white {
        color: #d7d5d9;
    }

    .text-md {
        font-size: 15px;
    }

    .text-large {
        font-size: 18px;
    }

    .text-italic {
        font-style: italic;
    }

    .text-primary {
        color: #3ba3c3;
    }

    a.text-primary:hover {
        color: #ff0c0c;
    }

    .bg-primary {
        color: #fff;
        background-color: #3ba3c3;
    }

    a.bg-primary:hover {
        background-color: #ff0c0c;
    }

    abbr[title],
    abbr[data-original-title] {
        border-bottom: 1px dotted #999999;
    }

    blockquote {
        padding: 10.5px 21px;
        margin: 0 0 21px;
        font-size: 14px;
        border-left: 5px solid #3ba3c3;
    }

    blockquote footer,
    blockquote small,
    blockquote .small {
        display: block;
        font-size: 80%;
        line-height: 1.55;
        color: #999999;
    }

    blockquote footer:before,
    blockquote small:before,
    blockquote .small:before {
        content: '\2014 \00A0';
    }

    .blockquote-reverse,
    blockquote.pull-right {
        border-right: 5px solid #3ba3c3;
    }

    address {
        margin-bottom: 21px;
        line-height: 1.55;
    }

    .panel {
        margin-bottom: 21px;
        background-color: #303030;
        border: 0px solid transparent;
        border-radius: 0;
        overflow: hidden;
        color: #d7d5d9;
    }

    .panel-icon {
        color: #23d922;
    }

    .panel-title {
        padding-left: 25px;
        text-align: left;
        color: #d7d5d9;
    }

    .panel-body {
        padding-left: 25px;
        text-align: left;
    }

    .panel-default {
        margin-left: 5%;
        width: 90%;
        border-color: #666666;
    }

    @media (min-width: 768px) {
        .panel-default {
            margin-left: 25%;
            width: 50%;
            border-color: #666666;
        }
    }

    .panel-default > .panel-heading {
        color: #333333;
        background-color: #282828;
        border-color: #666666;
    }

    .panel-default > .panel-heading + .panel-collapse .panel-body {
        border-top-color: #17af16;
        /* green */
    }

    .panel-default > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #666666;
    }

    .panel-primary {
        border-color: #3ba3c3;
    }

    .panel-primary > .panel-heading {
        color: #ffffff;
        background-color: #3ba3c3;
        border-color: #3ba3c3;
    }

    .panel-primary > .panel-heading + .panel-collapse .panel-body {
        border-top-color: #3ba3c3;
    }

    .panel-primary > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #3ba3c3;
    }

    .panel-primary .panel-title {
        font-weight: 300;
    }

    .panel-primary .panel-title a:hover {
        color: #fff;
        text-decoration: none;
    }

    a.badge:hover,
    a.badge:focus {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
    }

    a.list-group-item.active > .badge,
    .nav-pills > .active > a > .badge {
        color: #3ba3c3;
        background-color: #ffffff;
    }

    .nav-pills > li > a > .badge {
        margin-left: 3px;
    }
