/*
=====================
CUSTOM
=====================
*/
$primary-color: #802225;
$secondary-color: #232323;
$accent-color: #5cb59b;
$heading-color: rgb(255, 219, 118);
$text-color: #d7d5d9;

.bg-color {
    background-color: $primary-color;
}

.padding-top-55 {
    padding-top: 55px;
}

.padding-top-45 {
    padding-top: 45px;
}

@media (max-width: 992px) {
    .calendar-fix a {
        margin-top: 0px !important;
        margin-bottom: 10px;
    }   
}

.about {
    color: $primary-color;
}

.sub-heading-color {
    color: $heading-color;
}

.heading-color {
    color: $accent-color;
}

.heading-event {
    font-family: arial;
    font-size: 200% !important;
    color: $heading-color;
}

.heading-event-2 {
    @extend .heading-event;
    background-color: $secondary-color;
    padding: 10px;
    border-radius: 4px;
}

.page-content {
    padding: 30px;
    color: $text-color;
    background-color: $secondary-color;
}

.page-content-mini {
    @extend .page-content;
    padding: 10px;
}

.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile {
    overflow: hidden;
    max-width: 165px;
    max-height: 165px;
    border-radius: 50%;
}

.image-ctn {
    margin-bottom: 30px;
    background: $secondary-color;
    color: $text-color;

    h4 {
        color: $heading-color;
    }
}

.rounded {
    overflow: hidden;
    border-radius: 5px;
}

.no-padding {
    padding: 0px !important;
}

@media (min-width: 992px) {
    .col-md-offset-1 {
        margin-left: 4.33333333% !important;
    }
}
/*
=====================
TABLE
=====================
*/
table {
    background-color: $secondary-color;
    color: $text-color;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: lighten( $secondary-color, 10% );
  }

  th {
      text-align: center;
  }

  table, th, td {
    border: 1px solid lighten( $secondary-color, 10% );
  }

  
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none;
}


/*
=====================
SWIPER
=====================
*/
.swiper-container {
    margin: 0 !important;
}

.swiper-button-white {
    opacity: 0.5;
}

.swiper-button-next,
.swiper-button-prev {
    top: 0% !important;
    height: 100% !important;
    background-size: 22px 44px !important;
}

.swiper-button-next {
    margin-right: 3%;
}

.swiper-button-prev {
    margin-left: 3%;
}

.swiper-pagination {
    bottom: 0px !important;
}

.swiper-pagination-bullet {
    width: 11px !important;
    height: 11px !important;
    border: 1px solid $heading-color;
    background: none !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background: $heading-color !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px !important;
}

/*
=====================
NAVBAR
=====================
*/
.navbar {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.navbar a.navbar-brand {
    font-weight: bold;
    letter-spacing: 0.2em;
    color: $accent-color;
}

.navbar a.navbar-brand:focus,
.navbar a.navbar-brand:hover {
    border-bottom: none;
}

.navbar .navbar-nav > li > a {
    font-weight: bold;
}

/*navbar li padding*/
@media (min-width: 768px) {
    .navbar ul.nav > li > a {
        border-top: solid 2px transparent;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .navbar ul.nav > li > a:hover,
    .navbar ul.nav > li > a:focus {
        border-bottom: none;
    }

    .navbar ul.nav > li.active > a,
    .navbar ul.nav > li.open > a {
        text-decoration: none !important;
    }
}

.navbar-toggle {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000000;
}

ul.dropdown-menu li a {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

ul.dropdown-menu li a:hover {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-bottom: none;
}

/*
=====================
GENERAL
=====================
*/
html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
}

header {
    z-index: 1000;
}

section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 45px;
}

.img-responsive {
    margin: 0 auto;
}

.margin-top {
    margin-top: 30px !important;
}

.margin-bottom {
    margin-bottom: 30px !important;
}

.margin-bottom--medium {
    margin-bottom: 45px !important;
}

.margin-bottom--big {
    margin-bottom: 60px !important;
}

a,
button {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

a i.fa,
button i.fa {
    margin: 0 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clickable {
    cursor: pointer !important;
}

.text-uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.list-style-none {
    list-style: none;
}

.weight-300 {
    font-weight: 300 !important;
}

.weight-500 {
    font-weight: 500 !important;
}

.weight-700 {
    font-weight: 700 !important;
}

.btn-white {
    color: $text-color;
    background-color: transparent;
    border-color: $text-color;
}

.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    background-image: none;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    color: $accent-color;
    border-color: $accent-color;
}

/*
=====================
SOCIAL LINKS
=====================
*/

p.social a {
    display: inline-block;
    width: 30px;
    height: 31px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    vertical-align: bottom;
    color: $primary-color;
    /*social icon color*/
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

p.social a:hover {
    text-decoration: none;
    color: $heading-color;
    /* social icon hover */
}

p.social a i {
    vertical-align: bottom;
    line-height: 40px;
}

p.social.social--big a {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

/* jumbotron */
.main-jumbotron {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-color: #1e1e1e;
}

/* breadcrumbs */
.breadcrumb {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
    font-size: 12px;
}

/*
=====================
FOOTER AND COPYRIGHT
=====================
*/
.footer__copyright {
    background: $secondary-color;
    padding: 10px 0;
    font-size: 12px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.footer__copyright p {
    margin: 0;
}

@media (max-width: 991px) {
    .footer__copyright p {
        float: none !important;
        text-align: center;
    }
}

.hidden {
    visibility: hidden;
}

/* ========================================= */
/* THEMING OF BOOTSTRAP COMPONENTS           */
/* ========================================= */

/* nav */
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav > li > a {
    padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #eeeeee;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eeeeee;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    border-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid #dddddd;
}

.nav-tabs > li > a {
    line-height: 1.55;
    border-radius: 0 0 0 0;
}

.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.nav-tabs-justified > li > a {
    border-radius: 0;
}

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
    border: 1px solid #dddddd;
}

@media (min-width: 768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 0 0 0 0;
    }

    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
}

/* navbar */
.navbar {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    min-height: 44px;
    margin-bottom: 0;
    border-top: none;
    border-bottom: none;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

.navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    padding-right: 20px;
    padding-left: 20px;
    text-align: right;
}

.navbar-collapse.in {
    overflow-y: auto;
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: visible;
    }

    .navbar-collapse.right {
        float: right;
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-brand {
    float: left;
    padding: 12px;
    font-size: 17px;
    line-height: 21px;
    height: 44px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar-brand {
        padding-top: 15px;
    }
}

@media (min-width: 768px) {

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
}

.navbar-toggle {
    padding: 9px 10px !important;
    margin-right: 15px;
    border-radius: 0;
}

.navbar-nav {
    margin: 9.75px -15px;
}

.navbar-nav > li > a {
    line-height: 18px;
    border-bottom: none;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    border-bottom: none;
}

@media (max-width: 767px) {

    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 7px 15px 7px 25px;
    }

    /* mobile menu dropdown center */
    .navbar-nav .open .dropdown-menu > li > a {
        font-size: 13px;
        line-height: 24px;
        display: flex;
        justify-content: center;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        color: $accent-color !important;
        background-color: $secondary-color !important;
        background-image: none;
    }

    .navbar-nav .open .dropdown-menu > li:active {
        background-color: $accent-color !important;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float: left;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-nav > li > a {
        padding-top: 19.5px;
        padding-bottom: 19.5px;
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border: none;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }
}

/* mobile menu button */
.navbar-btn {
    margin-top: 5px;
    margin-bottom: 3px;
    margin-right: 5px;
    color: $text-color;
}

.navbar-btn.btn-sm {
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-btn.btn-xs {
    margin-top: 19px;
    margin-bottom: 19px;
}

.navbar-text {
    margin-top: 19.5px;
    margin-bottom: 19.5px;
}

@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }

    .navbar-text.navbar-right:last-child {
        margin-right: 0;
    }
}

.navbar-default {
    background-color: #202020;
    border-bottom-color: transparent;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: $text-color;
    background-color: transparent;
}

.navbar-default .navbar-text {
    color: #777777;
}

.navbar-default .navbar-nav > li > a {
    color: $text-color;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: $accent-color;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: $accent-color;
    background-color: transparent;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: $accent-color;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $text-color;
        background-color: $secondary-color;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: $accent-color;
        background-color: transparent;
    }

    /* mobile menu collapse */
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: $accent-color;
        background-color: $secondary-color;
    }
}

.navbar-default .navbar-link {
    color: #000000;
}

.navbar-default .navbar-link:hover {
    color: $accent-color;
}

/* dropdowns */
.dropdown-menu {
    z-index: 1000;
    font-size: 12px;
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    border-radius: 0;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9.5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu > li > a {
    font-family: arial;
    line-height: 1.55;
    color: $text-color;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: $accent-color;
    background-color: transparent;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: $accent-color;
    background-color: transparent;
}

/* scaffolding */
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.55;
    color: #000000;
    background-color: $primary-color;
}

a {
    color: #93cbeb;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #68b6e3;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.img-rounded {
    border-radius: 0;
}

hr {
    width: 90%;
    height: 3px;
    border-top: 4px solid $primary-color !important;
}

/* breadcrumbs */
.breadcrumb {
    padding: 8px 0;
    margin-top: 0px;
    margin-bottom: 15px;
    background-color: transparent;
    border-radius: 0;
}

.breadcrumb > li + li:before {
    content: "/\00a0";
    color: #555555;
}

.breadcrumb > .active {
    color: #999999;
}

.breadcrumb a {
    color: #3ba3c3;
}

@media (max-width: 991px) {
    .breadcrumb {
        padding: 8px 0;
    }
}

/* buttons  */
.btn {
    font-weight: 700;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 5px 11px;
    font-size: 14px;
    border-radius: 0;
}

.btn-primary {
    color: #3ba3c3;
    background-color: transparent;
    border-color: #3ba3c3;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #3ba3c3;
    background-color: #ebebeb;
    border-color: #ff0202;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary .badge {
    color: #ffffff;
    background-color: #3ba3c3;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background: #3ba3c3;
    color: #ffffff;
    border: solid 1px #3ba3c3;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

/* dropdowns */
.dropdown-menu > li > a {
    padding: 7.5px 18px;
}

.input-group {
    min-width: 250px;
    max-width: 360px;
}

.input-name {
    min-width: 240px;
    max-width: 340px;
}

#signUpSubmit {
    border: 1px solid $accent-color;
    background-color: #292929;
    color: #d1d1d1;
    padding-bottom: 2px;
    padding-top: 5px;
    padding-right: 4px;
    padding-left: 6px;
    font-size: 17.5px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

#signUpSubmit:hover,
#signUpSubmit:focus .fa-power-off {
    color: $accent-color;
}

.form-control {
    color: $heading-color;
    background-color: $primary-color;
    background-image: none;
    border: 1px solid $accent-color;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999999;
}

.form-control::-webkit-input-placeholder {
    color: $text-color;
    /* placeholder text color */
}

.form-group {
    margin-bottom: 5px;
}

/* responsive utilities */
@media (max-width: 767px) {
    .text-center-xs {
        text-align: center !important;
    }

    .text-center-xs img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-center-sm {
        text-align: center !important;
    }

    .text-center-sm img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
    font-weight: 700;
}

h4,
.h4 {
    font-size: 18px;
    font-weight: 700;
}

h5,
.h5 {
    font-size: 14px;
    font-weight: 700;
}

h6,
.h6 {
    font-size: 12px;
    font-weight: 700;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 0;
    margin-bottom: 21px;
}

h4,
.h4,
h5,
.h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin: 0 0 15px;
}

.lead {
    margin-top: 15px;
    margin-bottom: 16px;
    font-size: 20px;
}

.lead-h {
    @extend .lead;
    margin-bottom: 15px;
    font-weight: 500;
}

.text-small {
    font-size: 13px;
}

.text-md {
    font-size: 15px;
}

.text-large {
    font-size: 17px;
}

.text-primary {
    color: #3ba3c3;
}

a.text-primary:hover {
    color: #ff0c0c;
}

.bg-primary {
    color: #fff;
    background-color: #3ba3c3;
}

a.bg-primary:hover {
    background-color: #ff0c0c;
}

abbr[title],
abbr[data-original-title] {
    border-bottom: 1px dotted #999999;
}

blockquote {
    padding: 10.5px 21px;
    margin: 0 0 21px;
    font-size: 14px;
    border-left: 5px solid #3ba3c3;
}

blockquote footer,
blockquote small,
blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.55;
    color: #999999;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
    content: '\2014 \00A0';
}

.blockquote-reverse,
blockquote.pull-right {
    border-right: 5px solid #3ba3c3;
}

.panel {
    margin-bottom: 21px;
    background-color: #292929;
    border: 0px solid transparent;
    border-radius: 0;
    overflow: hidden;
    color: $text-color;
}

.panel-title {
    font-weight: normal;
    padding-left: 6px;
    text-align: left;
    color: $text-color;
    line-height: 1.5;
}

.panel-body {
    padding-left: 25px;
    text-align: left;
}

.panel-default {
    margin-left: 5%;
    width: 90%;
    border-color: #666666;
}

@media (min-width: 768px) {
    .panel-default {
        margin-left: 25%;
        width: 50%;
        border-color: #666666;
    }

    .panel-title {
        padding-left: 20px;
    }
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: $secondary-color;
    border-color: #666666;
    cursor: pointer;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: $accent-color;
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #666666;
}

.panel-primary {
    border-color: #3ba3c3;
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #3ba3c3;
    border-color: #3ba3c3;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #3ba3c3;
}

.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #3ba3c3;
}

.panel-primary .panel-title {
    font-weight: 300;
}

.panel-primary .panel-title a:hover {
    color: #fff;
    text-decoration: none;
}
